.dashboardBG {
    width: 1279; 
    height: 643; 
    left: 81; 
    top: 241; 
    position: 'absolute'; 
    background: '#EAC08F'; 
    box-shadow: '0px 4px 4px rgba(0, 0, 0, 0.25)';
    border-bottom-left-radius: 104;
    border-bottom-right-radius: 104; 
    border: '1px black solid';
}