.img-background {
    background-color: #EAE1DC;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.img-area {
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 6px;
}

.logo-container {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 228, 218);
    padding: 5px;
    border-radius: 18px;
    z-index: 2;
}

.name-logo {
    width: 100%;
    height: 100%;
    object-fit: contain;
}