.img-background {
    background-color: #F3EEEB;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
}

.img-area {
    justify-content: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-left: 6px;
}