.profile-div {
    background-color: #EAE1DC;
    height: fit-content;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-image: url('../assets/foodpat.png');
    background-repeat: repeat-y repeat-x;
    background-size: contain;
}

.profile-bar {
    height: 90vh;
}

.profile-title {
    font-size: 30px;
}

.nav-link {
    font-size: 20px;
}

.list-section {
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.sub-div {
    background-color: whitesmoke;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

.select-width {
    width: 40%;
}

.form-info {
    margin-left: 58vh;
}

.text-form {
    font-size: 22px;
}

.text-detail {
    font-size: 18px;
}

.intro-text {
    padding-top: 8vh;
}

.bt-pad {
    margin-top: 1vh;
}

.label-text {
    font-size: 16px;
    font-weight: lighter;
}