.registration-container {
    background-color: #EAE1DC;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-image: url("../assets/overlay_2.png");
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}

.registration-form {
    background-color: white;
    border-radius: 10px;
    width: 30%;
    height: auto;
    margin: 7% auto;
    padding: 25px 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.label-text {
    font-size: 20px;
}

.button-class {
    margin-right: 4%;
    margin-left: 4.3%;
}

@media screen and (max-width: 600px) {
    .registration-form {
        width: 90%;
        margin: 7% auto;
        margin-top: 25%;
    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .registration-form {
        width: 70%;
        height: auto;
        margin: 7% auto;
        margin-top: 15%;
    }
}

@media (max-width: 3000px) and (min-width: 1440px) {
    .registration-form {
        width: 30%;
        height: auto;
        margin: 7% auto;
    }
}